<div id="cdoj-user-center">
  <div class="row">
    <div class="col-md-12">
      <div class="media" id="cdoj-user-center-summary">
        <a class="pull-left" href="#">
          <img id="cdoj-user-avatar-large"
               ui-avatar
               email="targetUser.email"
               class="media-object img-thumbnail"/>
        </a>

        <div class="media-body">
          <h2 class="media-heading" ng-bind="targetUser.userName">
          </h2>
          <dl class="dl-horizontal">
            <dt>Nick name</dt>
            <dd ng-bind="targetUser.nickName">
            </dd>
            <dt>School</dt>
            <dd ng-bind="targetUser.school">
            </dd>
            <dt>Department</dt>
            <dd ng-bind="targetUser.department">
            </dd>
            <dt>Student ID</dt>
            <dd ng-bind="targetUser.studentId">
            </dd>
            <dt>Email</dt>
            <dd ng-bind="targetUser.email">
            </dd>
            <dt>Motto</dt>
            <dd ng-bind="targetUser.motto">
            </dd>
            <dt>Last login</dt>
            <dd ui-time
                time="targetUser.lastLogin">
            </dd>
          </dl>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <tabset>
        <tab heading="Problems">
          <div style="margin-top: 15px">
            <div ng-repeat="status in problemStatus"
                 class="cdoj-label cdoj-user-status-label"
                 ng-class="{
               'label-default': status.status == 0,
               'label-success': status.status == 1,
               'label-danger': status.status == 2
             }">
              <a href="#/problem/show/{{status.problemId}}" ng-bind="status.problemId"></a>
            </div>
          </div>
        </tab>
        <tab heading="Teams">
          <div style="margin: 0 -15px;">
            <div class="col-md-12 text-right"
                 style="margin-top: 15px;"
                 ng-show="editPermission">
              <button class="btn btn-danger btn-sm"
                      ng-click="showTeamEditor()"><i class="fa fa-group"></i>Create new team
              </button>
            </div>
            <list condition="teamCondition"
                  request-url="/team/search">
              <div class="col-md-12" ng-repeat="team in list">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <b ng-bind="team.teamName"></b>
                    <span class="pull-right"
                          ng-show="editPermission && team.leaderId != targetUser.userId">
                      <input bs-switch
                             ng-model="team.allow"
                             type="checkbox"
                             switch-active="{{ isActive }}"
                             switch-size="small"
                             switch-animate="true"
                             switch-label=""
                             switch-icon=""
                             switch-on-label="Allow"
                             switch-off-label="Quit"
                             switch-on="success"
                             switch-off="danger"/>
                    </span>
                  </div>
                  <div class="panel-body">
                    <div class="row">
                      <div class="col-md-4" ng-repeat="member in team.teamUsers">
                        <h5 style="margin-top: 0;">
                          <span ng-show="$index == 0" class="font-primary">Leader</span>
                          <span ng-show="$index != 0" class="font-success">Member</span>
                        </h5>
                        <div class="media">
                          <div class="pull-left">
                            <img ui-avatar
                                 email="member.email"
                                 width="44"
                                 height="44"
                                 class="media-object"
                                 style="width: 44px; height: 44px;"/>
                          </div>

                          <div class="media-body">
                            <h4 class="media-heading">
                              <span ng-bind="member.userName"></span>
                            </h4>
                            <span ng-bind="member.nickName"></span>
                          </div>
                        </div>
                      </div>
                      <div ng-show="team.invitedUsers.length > 0 && editPermission">
                      <div class="col-md-4" ng-repeat="member in team.invitedUsers">
                        <h5 style="margin-top: 0;">
                          <span class="font-danger">Inactive</span>
                        </h5>
                        <div class="media">
                          <div class="pull-left">
                            <img ui-avatar
                                 email="member.email"
                                 width="44"
                                 height="44"
                                 class="media-object"
                                 style="width: 44px; height: 44px;"/>
                          </div>

                          <div class="media-body">
                            <h4 class="media-heading">
                              <span ng-bind="member.userName"></span>
                            </h4>
                            <span ng-bind="member.nickName"></span>
                          </div>
                        </div>
                      </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </list>
          </div>
        </tab>
      </tabset>
    </div>
  </div>
</div>