[submodule "trunk/src/main/webapp/plugins/Font-Awesome"]
	path = trunk/src/main/webapp/plugins/Font-Awesome
	url = https://github.com/FortAwesome/Font-Awesome.git
[submodule "trunk/src/main/webapp/plugins/MathJax"]
	path = trunk/src/main/webapp/plugins/MathJax
	url = https://github.com/mathjax/MathJax.git
