<md-dialog aria-label="Settings">
  <md-content class="sticky-container" style="min-width: 300px;">
    <h2 ng-bind="title"></h2>
    <div class="dialog-content" layout="column">
      <md-input-container class="cdoj-input-select-container">
        <label ng-bind="languageLabel"></label>
        <input ng-model="settings.lang" hide>
        <md-select placeholder="Language" ng-model="settings.lang">
          <md-option ng-repeat="(key, value) in languages" value="{{key}}" ng-bind="value.name"></md-option>
        </md-select>
      </md-input-container>
    </div>
  </md-content>
  <div class="md-actions" layout="row">
    <md-button ng-click="reset()" class="md-accent" ng-bind="resetLabel">
    </md-button>
    <span flex></span>
    <md-button ng-click="cancel()" ng-bind="cancelLabel">
    </md-button>
    <md-button ng-click="save()" class="md-primary" ng-bind="saveLabel">
    </md-button>
  </div>
</md-dialog>