<div class="row">
  <list condition="$root.contestCondition"
        request-url="/contest/search"
        name="contest">
    <div class="col-md-12">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th style="width: 4em; text-align: right;">#</th>
          <th>
            <a href="javascript:void(0);"
               ng-show="$root.isAdmin"
               ng-click="showAddContestModal()">
              Add new contest
            </a>
          </th>
          <th style="width: 12em; text-align: right;">Start time</th>
          <th style="width: 9em; text-align: right;">Length</th>
          <th style="width: 6em; text-align: center;">Type</th>
          <th style="width: 55px;" ng-show="$root.isAdmin"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input type="number"
                   style="width: 100%;"
                   ng-model="$root.contestCondition.startId"/>
          </td>
          <td>
            <input type="text"
                   style=""
                   ng-model="$root.contestCondition.keyword"/>
          </td>
        </tr>
        <tr ng-repeat="contest in list">
          <td style="text-align: right;">{{contest.contestId}}</td>
          <td>
            <a href="javascript:void(0);"
               ng-click="enterContest(contest)">{{contest.title}}</a>
          </td>
          <td style="text-align: right;"
              ui-time
              time="contest.time"
              ng-class="{
              warning: contest.status == $root.ContestStatus.PENDING,
              danger: contest.status == $root.ContestStatus.RUNNING,
              success: contest.status == $root.ContestStatus.ENDED
            }">
          </td>
          <td style="text-align: right;"
              ui-time-length
              length="contest.length"
              ng-class="{
              warning: contest.status == $root.ContestStatus.PENDING,
              danger: contest.status == $root.ContestStatus.RUNNING,
              success: contest.status == $root.ContestStatus.ENDED
            }">
          </td>
          <td style="text-align: center"
              ng-show="contest.type != $root.ContestType.INHERIT"
              ng-class="{
                'font-success': contest.type == $root.ContestType.PUBLIC,
                'font-danger': contest.type == $root.ContestType.PRIVATE || contest.type == $root.ContestType.INVITED || contest.type == $root.ContestType.ONSITE,
                'font-primary': contest.type == $root.ContestType.DIY
              }">
            <span ng-show="contest.type != $root.ContestType.INVITED">{{contest.typeName}}</span>
            <a href="/#/contest/register/{{contest.contestId}}"
               class="pull-right"
               ng-hide="contest.type != $root.ContestType.INVITED">
              <i class="fa fa-hand-o-right"></i>Register
            </a>
          </td>
          <td style="text-align: center"
              ng-hide="contest.type != $root.ContestType.INHERIT"
              ng-class="{
                'font-success': contest.parentType == $root.ContestType.PUBLIC,
                'font-danger': contest.parentType == $root.ContestType.PRIVATE || contest.parentType == $root.ContestType.INVITED || contest.parentType == $root.ContestType.ONSITE,
                'font-primary': contest.parentType == $root.ContestType.DIY
              }">
            {{contest.parentTypeName}}
          </td>
          <td ui-contest-admin-span
              contest-id="contest.contestId"
              is-visible="contest.isVisible"
              style="padding: 4px;"
              ng-show="$root.isAdmin">
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </list>
</div>