<div id="contest-show">
  <div class="row">
  <div class="col-md-12">
    <h1 class="text-center">{{contest.title}}</h1>
  </div>
  <div class="col-md-12">
    <progressbar max="progressbar.max"
                 value="progressbar.value"
                 animate="true"
                 class="progress-striped"
                 ng-class="{active: progressbar.active}"
                 type="{{progressbar.type}}">
      <b>{{currentTimePassed}}</b>
    </progressbar>
  </div>
  
  <div class="col-md-12">
  <tabset>
  <tab heading="Overview"
       active="activeOverviewTab">
    <div class="row">
      <div class="col-md-12">
        <dl class="dl-horizontal" style="margin-top: 15px;">
          <dt>Current Time:</dt>
          <dd ui-time
              time="contest.currentTime"
              change="false"
              show="real"></dd>
          <dt>Start Time:</dt>
          <dd ui-time
              time="contest.startTime"
              change="false"
              show="real"></dd>
          <dt>End Time:</dt>
          <dd ui-time
              time="contest.endTime"
              change="false"
              show="real"></dd>
          <dt>Contest Status:</dt>
          <dd ng-bind="contest.status"
              ng-class="{
                'font-primary': contest.status == $root.ContestStatus.PENDING,
                'font-danger': contest.status == $root.ContestStatus.RUNNING,
                'font-success': contest.status == $root.ContestStatus.ENDED
              }"></dd>
        </dl>
      </div>
      <div class="col-md-12 text-center"
           ng-show="$root.isAdmin">
        <a class="btn btn-danger btn-xs"
           href="/contest/exportRankList/{{contest.contestId}}">
          Export rank list
        </a>
        <a class="btn btn-danger btn-xs"
           href="/contest/exportCodes/{{contest.contestId}}">
          Export codes
        </a>
        <a class="btn btn-danger btn-xs"
           href="/contest/exportDOMJudgeStyleReport/{{contest.contestId}}">
          Export DOMJudge report for DOMJura
        </a>
      </div>
      <div class="col-md-12">
        <markdown content="contest.description">
        </markdown>
      </div>
      <div class="col-md-12"
           ng-hide="contest.status == $root.ContestStatus.PENDING">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th style="width: 12em;"></th>
            <th style="width: 12em;">Id</th>
            <th>Title</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="problem in problemList"
              ng-class="{
                danger: problem.hasSolved == false && problem.hasTried == true,
                success: problem.hasSolved == true
              }">
            <td class="text-right">
              {{problem.solved}} / {{problem.tried}}
            </td>
            <td>Problem <span ng-bind="problem.orderCharacter"></span></td>
            <td><a href="javascript:void(0);"
                   ng-click="chooseProblem(problem.order)">{{problem.title}}</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </tab>
  <tab heading="Problems"
       active="activeProblemTab"
       ng-hide="contest.status == $root.ContestStatus.PENDING">
    <div class="row">
      <div class="col-md-12 text-center">
        <ul class="pagination" style="margin-bottom: 0;">
          <li ng-repeat="problem in problemList"
              ng-class="{active: currentProblem.order == problem.order}">
            <a href="javascript:void(0);" ng-click="chooseProblem(problem.order)">{{problem.orderCharacter}}</a>
          </li>
        </ul>
      </div>
      <div class="col-md-12 text-center">
        <h1>{{currentProblem.orderCharacter}} - {{currentProblem.title}}</h1>
      </div>
      <problem problem="currentProblem">
        <div class="col-md-12 text-center">
          <button class="btn btn-default" ng-click="openSubmitModal()">Submit
          </button>
          <button class="btn btn-default" ng-click="showStatusTab()">Status
          </button>
        </div>
      </problem>
    </div>
  </tab>
  <tab ng-hide="contest.status == $root.ContestStatus.PENDING"
       select="selectClarificationTab()">
    <tab-heading>
      <span class="badge pull-right"
            ng-show="totalUnreadedClarification > 0">{{totalUnreadedClarification}}</span>
      Clarification
    </tab-heading>
    <div class="row">
      <comment contest-id="contestId"></comment>
    </div>
  </tab>
  <tab heading="Status" select="refreshStatus()"
       ng-hide="contest.status == $root.ContestStatus.PENDING">
    <div class="row">
      <list condition="contestStatusCondition"
            request-url="/status/search"
            name="status">
        <div class="col-md-12">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th style="text-align: center;"
                  ng-show="$root.isAdmin || contest.type == $root.ContestType.INVITED">
                User
              </th>
              <th style="text-align: center;">Prob</th>
              <th style="width: 19em; text-align: center;">Result
                <a id="status-refresh-button" href="javascript:void(0);"
                   ng-click="refreshStatus()">
                  <i class="fa fa-refresh"></i>
                </a>
              </th>
              <th style="text-align: center;">Memory</th>
              <th style="text-align: center;">Time</th>
              <th style="text-align: center;">Language</th>
              <th style="text-align: center;">Length</th>
              <th style="width: 11em; text-align: center;">Submit
                Time
              </th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td ng-show="$root.isAdmin || contest.type == $root.ContestType.INVITED">
                <input type="text"
                       style="width: 100%;"
                       ng-model="contestStatusCondition.userName"/>
              </td>
              <td>
                <select style="width: 100%;"
                        ng-model="contestStatusCondition.problemId"
                        ng-options="problem.problemId as problem.orderCharacter for problem in problemList">
                  <option value="">All</option>
                </select>
              </td>
              <td>
                <select style="width: 100%;"
                        ng-model="contestStatusCondition.result"
                        ng-options="result.onlineJudgeResultTypeId as result.description for result in $root.resultTypeList">
                </select>
              </td>
              <td></td>
              <td></td>
              <td>
                <select style="width: 100%;"
                        ng-model="contestStatusCondition.languageId"
                        ng-options="language.languageId as language.name for language in $root.languageList">
                  <option value="">All</option>
                </select>
              </td>
              <td class="text-center">
                <button class="btn btn-xs btn-success"
                        ng-click="resetStatusCondition()">Reset
                </button>
              </td>
              <td class="text-center" ui-rejudge-button
                  condition="contestStatusCondition">
              </td>
            </tr>
            <tr ng-repeat="status in list">
              <td style="text-align: center;"
                  ng-show="$root.isAdmin || contest.type == $root.ContestType.INVITED">
                <a href="/#/user/center/{{status.userName}}">{{status.userName}}</a>
              </td>
              <td style="text-align: center;">
                <ui-contest-problem-href problem-id="status.problemId"
                                         problem-list="problemList"></ui-contest-problem-href>
              </td>
              <td style="text-align: center;"
              ui-status
              status="status"
              ng-class="{
                'font-primary': [0, 16, 17, 18].some(status.resultId),
                'font-success': [1].some(status.resultId),
                'font-danger': [0, 1, 16, 17, 18].none(status.resultId)
              }">
              </td>
  
              <td style="text-align: center;">
                {{status.memoryCost}}
                <span ng-hide="status.memoryCost == undefined"> KB</span>
              </td>
              <td style="text-align: center;">
                {{status.timeCost}}
                <span ng-hide="status.memoryCost == undefined"> MS</span>
              </td>
  
              <td style="text-align: center;">{{status.language}}</td>
              <td style="text-align: center;"
                  ui-code-href
                  status="status"
                  always-show-href="true">
              </td>
              <td style="text-align: center;"
                  ui-time
                  time="status.time"></td>
            </tr>
            </tbody>
          </table>
        </div>
      </list>
    </div>
  </tab>
  <tab heading="Print"
       ng-hide="contest.status == $root.ContestStatus.PENDING">
    <div class="row" style="margin-top: 15px;">
      <div class="col-md-8 col-md-offset-2">
        <form>
          <div class="form-group">
            <textarea class="cdoj-submit-area"
                      ng-model="submitDTO.codeContent"></textarea>
            <ui-validate-info value="fieldInfo"
                              for="codeContent"></ui-validate-info>
          </div>
          <button class="btn btn-default" ng-click="printCode()">Print</button>
        </form>
      </div>
    </div>
  </tab>
  <tab heading="Rank"
       ng-hide="contest.status == $root.ContestStatus.PENDING"
       select="refreshRankList()">
    <div class="row" style="margin-top: 15px;">
      <div class="col-md-12">
        <div class="pull-left">
          <button class="btn btn-danger btn-xs"
                  ng-click="refreshRankList()">
            <i class="fa fa-refresh"></i>Refresh
          </button>
        </div>
      </div>
      <div class="col-md-12">
        <table id="rank-list" class="table" style="width: auto;">
          <thead>
          <tr>
            <th class="text-center" style="width: 55px; min-width: 55px; max-width: 55px;">Rank</th>
            <th class="text-center" style="width: 220px; min-width: 220px; max-width: 220px;">ID</th>
            <th class="text-center" style="width: 65px; min-width: 65px; max-width: 65px;">Solved</th>
            <th class="text-center" style="width: 75px; min-width: 75px; max-width: 75px;">Penalty</th>
            <th class="text-center"
                bindonce ng-repeat="problem in problemList"
                style="width: 70px; min-width: 70px; max-width: 70px;">
              <a href="javascript:void(0);"
                 ng-click="chooseProblem(problem.order)">{{problem.orderCharacter}}</a>
            </th>
          </tr>
          </thead>
          <tbody>
          <tr bindonce ng-repeat="user in rankList" class="text-center">
            <td class="rank"
                style="vertical-align:middle;"
                ng-class="{my: user.name == $root.currentUser.userName}">
              {{user.rank}}
            </td>
            <td class="user-name"
                ng-class="{my: user.name == $root.currentUser.userName}"
                ng-if="contest.type != $root.ContestType.INVITED && contest.type != $root.ContestType.ONSITE">
              <b>{{user.name}}</b>
              <br/>
              {{user.nickName}}
            </td>
            <td class="user-name"
                ng-class="{my: user.name == currentTeam}"
                ng-if="contest.type == $root.ContestType.INVITED">
              <b>{{user.name}}</b>
              <br/>
              <span bindonce
                    ng-repeat="teamUser in user.teamUsers">
                {{teamUser.name}}&nbsp;
              </span>
            </td>
            <td class="user-name"
                ng-class="{my: user.name == $root.currentUser.userName}"
                ng-if="contest.type == $root.ContestType.ONSITE">
              <b>{{user.nickName}}</b>
              <br/>
              {{user.reallyName}}
            </td>
            <td class="solved"
                style="vertical-align:middle;"
                ng-class="{my: user.name == $root.currentUser.userName}">
              {{user.solved}}
            </td>
            <td class="penalty" penalty="user.penalty" ui-penalty
                style="vertical-align:middle;"
                ng-class="{my: user.name == $root.currentUser.userName}"></td>
            <td class="item"
                bindonce ng-repeat="item in user.itemList"
                ng-class="{
                    'rank-list-first-blood': item.firstBlood,
                    'rank-list-solved': item.firstBlood == false && item.solved,
                    'rank-list-tried': item.solved == false && item.triedAfterFrozen == false && item.tried > 0,
                    'rank-list-frozen': item.solved == false && item.triedAfterFrozen
                  }">
              <span ng-if="item.solved == true" penalty="item.solvedTime / 1000"
                    ui-penalty></span>
              <br/>
              <span ng-if="item.tried > 0">(-{{item.tried}})</span>
            </td>
          </tr>
          <tr class="rank-foot">
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"></td>
            <td class="text-center"
                bindonce ng-repeat="problem in problemList"
                style="{{problem.stateStyle}}">
              <span ng-if="problem.tried > 0">{{problem.solved}}/{{problem.tried}}</span>
              <br/>
              <span ng-if="problem.tried > 0">{{problem.successRatio}}%</span>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </tab>
  </tabset>
  </div>
  </div>
  </div>
  