<div class="modal-header">
  <h3>Login contest</h3>
</div>
<div class="modal-body">
  <div class="form-group">
    <div class="row">
      <form class="form-horizontal" role="form">
        <label class="col-sm-2 control-label">
          Password
        </label>

        <div class="col-sm-10">
          <input type="password"
                 ng-model="contest.password"
                 class="form-control"
                 ng-minlength="6"
                 ng-maxlength="24"/>
          <ui-validate-info value="fieldInfo" for="password"></ui-validate-info>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="cancel()">Cancel</button>
  <button class="btn btn-primary" ng-click="enter()">Enter</button>
</div>