<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()">&times;</button>
  <h4 class="modal-title">{{title}}</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <fieldset>
      <div class="form-group">
        <label class="control-label col-sm-4"
               for="userName">OJ user name</label>

        <div class="col-sm-8">
          <input type="text"
                 id="userName"
                 class="form-control input-sm"
                 placeholder="User name"
                 ng-model="trainingUserDto.userName"
                 typeahead="user.userName for user in searchUser($viewValue) | filter:$viewValue"
                 typeahead-template-url="template/user/typeAhead.html"/>
          <ui-validate-info value="fieldInfo" for="userName"></ui-validate-info>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4"
               for="displayName">Display name</label>

        <div class="col-sm-8">
          <input type="text"
                 ng-model="trainingUserDto.trainingUserName"
                 id="displayName"
                 ng-required="true"
                 ng-maxlength="50"
                 ng-minlength="1"
                 class="form-control input-sm"/>
          <ui-validate-info value="fieldInfo"
                            for="trainingUserName"></ui-validate-info>
        </div>
      </div>

      <div class="form-group">
        <label class="control-label col-sm-4 "
               for="type">Type</label>

        <div class="col-sm-8">
          <select ng-model="trainingUserDto.type"
                  ng-options="type.trainingUserTypeId as type.description for type in $root.trainingUserTypeList"
                  id="type"
                  ng-required="true"
                  class="form-control input-sm">
          </select>
          <ui-validate-info value="fieldInfo" for="type"></ui-validate-info>
        </div>
      </div>
    </fieldset>
    <fieldset ng-if="action == 'edit'">
      <legend>Platform</legend>
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th>Platform</th>
          <th>User name</th>
          <th>User id</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="platform in trainingPlatformList">
          <td>
            <select ng-model="platform.type"
                    ng-options="type.trainingUserTypeId as type.description for type in $root.trainingUserTypeList"
                    ng-required="true"
                    style="width: 100%">
            </select>
          </td>
          <td>
            <input type="text"
                   class="cdoj-input"
                   style="width: 100%;"
                   ng-model="platform.userName"
                />
          </td>
          <td>
            <input type="text"
                   class="cdoj-input"
                   style="width: 100%;"
                   ng-model="platform.userId"
                />
          </td>
        </tr>
        <tr>
          <td colspan="3">
            <a href="javascript:void(0);" ng-click="addPlatform()">
              <i class="fa fa-plus"></i>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </fieldset>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default"
          ng-click="dismiss()">Close
  </button>
  <button type="button"
          class="btn btn-primary"
          ng-if="action != 'new'"
          ng-click="edit()">Edit
  </button>
  <button type="button"
          class="btn btn-primary"
          ng-if="action == 'new'"
          ng-click="new()">Add
  </button>
</div>