/.idea
/.idea/
/mvn_clean.bat
/mvn_package.bat
/mvn_run.bat
/target
/trunk.iml
*.log
.project
.settings
.classpath
.externalToolBuilders/
/test-output/
/cdoj.iml
*.pyc
/target
/lib
/.gradle
/gradle
/gradlew
/gradlew.bat
/gradle-app.setting
/out/
/data/
/work/
/bin/
gradle.properties
