<!DOCTYPE html>
<html lang="en" ng-app="cdoj">
<head>
  <link rel="icon" type="image/png" href="/images/logo/favicon128.png">
  <meta http-equiv=Content-Type content="text/html;charset=utf-8"/>
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  <!--[if lte IE 8]>
  <script>
    window.location.href = "/fuckIE";
  </script>
  <![endif]-->
  <link rel="stylesheet"
        href="/bower_components/font-awesome/css/font-awesome.min.css"/>
  <link rel="stylesheet"
        href="/dist/css/cdoj.min.css"/>

  <title ng-bind="$root.finalTitle"></title>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-47734287-1']);
    _gaq.push(['_trackPageview']);

    (function () {
      var ga = document.createElement('script');
      ga.type = 'text/javascript';
      ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(ga, s);
    })();
  </script>
</head>

<body>
<header id="cdoj-navbar-top">
  <div class="container" ng-controller="HeaderController">
    <nav>
      <ul class="nav navbar-nav navbar-right" style="min-height: 50px;">
        <li ng-if="$root.hasLogin"
            style="font-size: 20px;">
          <a href="/#/user/center/{{currentUser.userName}}"><i class="fa fa-home"></i></a>
        </li>
        <li ng-if="$root.hasLogin"
            style="font-size: 20px;">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            <i class="fa fa-bell"></i>
            <span class="label label-danger"
                  style="position: absolute;
                  top: 6px;
                  right: 4px;
                  font-size: 10px;"
                  ng-show="$root.totalUnreadMessages > 0"
                  ng-bind="$root.totalUnreadMessages"></span>
          </a>
          <ul class="dropdown-menu" style="width: 330px;">
            <li role="presentation" class="dropdown-header">
              Notification
            </li>
            <li role="presentation" ng-repeat="message in $root.unreadMessages">
              <div class="media" style="padding: 0 6px 0 6px;">
                <div class="pull-left">
                  <img class="media-object"
                       ui-avatar
                       email="message.senderEmail"
                       style="width: 54px; height: 54px;">
                </div>
                <div class="media-body">
                  <p>
                    <a href="#/user/center/{{message.senderUserName}}"
                       ng-bind="message.senderUserName"></a>
                    :
                    <messagelink message="message"></messagelink>
                  </p>
                  <span class="muted" style="font-size: 12px;">
                    <i class="fa fa-clock-o"></i>
                    <span ui-time time="message.time" inline="true" change="false"></span>
                  </span>
                </div>
              </div>
            </li>
            <li role="presentation" class="divider"></li>
            <li role="presentation">
              <a href="/#/user/center/{{currentUser.userName}}/messages">
                View more notifications
              </a>
            </li>
          </ul>
        </li>
        <li ng-if="$root.hasLogin">
          <div id="cdoj-user" dropdown style="margin-left: 15px;">
            <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
              <img id="cdoj-user-avatar"
                   ui-avatar
                   email="currentUser.email"/>
            </a>
            <ul class="dropdown-menu"
                role="menu"
                aria-labelledby="user-menu"
                style="top: 48px;
border-top-left-radius: 0;
border-top-right-radius: 0;">
              <li role="presentation"
                  class="dropdown-header" ng-bind="currentUser.userName">
              </li>
              <li role="presentation">
                <a href="/#/user/center/{{currentUser.userName}}">
                  <i class="fa fa-home"></i>User center
                </a>
              </li>
              <li role="presentation">
                <a href="/#/user/center/{{currentUser.userName}}/blog">
                  <i class="fa fa-rss"></i>Blog
                </a>
              </li>
              <li role="presentation">
                <a href="/#/user/center/{{currentUser.userName}}/teams">
                  <i class="fa fa-group"></i>Teams
                </a>
              </li>
              <li role="presentation" ng-if="currentUser.type != $root.AuthenticationType.CONSTANT">
                <a href="/#/user/center/{{currentUser.userName}}/edit">
                  <i class="fa fa-wrench"></i>Edit profile
                </a>
              </li>
              <li role="presentation" ng-show="$root.isAdmin">
                <a href="/#/admin/dashboard">
                  <i class="fa fa-dashboard"></i>Admin dashboard
                </a>
              </li>
              <li role="presentation" class="divider"></li>
              <li role="presentation">
                <a href="javascript:void(0);" id="cdoj-logout-button" ng-click="logout()">
                  <i class="fa fa-power-off"></i>Logout
                </a>
              </li>
            </ul>
          </div>
        </li>
        <li dropdown ng-if="$root.hasLogin == false">
          <a href class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
            Sign in
          </a>
          <ul ui-dropdown-menu class="dropdown-menu cdoj-form-menu" style="width: 340px;">
            <li>
              <form>
                <div class="input-group form-group input-group-sm">
                  <span class="input-group-addon">
                    <i class="fa fa-user" style="width: 14px;"></i>
                  </span>
                  <input type="text"
                         ng-model="userLoginDTO.userName"
                         maxlength="24"
                         id="userName"
                         class="form-control"
                         placeholder="Username"/>
                </div>
                <div class="input-group form-group input-group-sm">
                  <span class="input-group-addon">
                    <i class="fa fa-key" style="width: 14px;"></i>
                  </span>
                  <input type="password"
                         ng-model="userLoginDTO.password"
                         id="password"
                         class="form-control"
                         placeholder="Password"/>
                  <span class="input-group-btn">
                    <button type="submit"
                            class="btn btn-default"
                            ng-click="login()">
                      Login
                    </button>
                  </span>
                </div>
                <ui-validate-info value="fieldInfo" for="password"></ui-validate-info>
              </form>
            </li>
            <li role="presentation" class="divider"></li>
            <li>
              <a href="/#/user/register">
                <i class="fa fa-arrow-circle-right" style="padding-right: 6px;"></i>Register</a>
              <a href="javascript:void(0);" ng-click="openForgetPasswordModal()">
                <i class="fa fa-arrow-circle-right" style="padding-right: 6px;"></i>Forget password?
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div id="cdoj-layout">
  <div id="cdoj-navbar">
    <div id="cdoj-navbar-menu" class="row">
      <div class="col-md-12">
        <div class="cdoj-menu">
          <ul class="nav nav-pills nav-stacked">
            <li class="cdoj-menu-heading"><span class="cdoj-menu-item">CDOJ</span></li>

            <li active-link="">
              <a href="/#/"><i class="fa fa-home"></i><span class="cdoj-menu-item">Home</span></a>
            </li>
            <li active-link="problem">
              <a href="/#/problem/list">
                <i class="fa fa-puzzle-piece"></i><span class="cdoj-menu-item">Problems</span>
              </a>
            </li>
            <li active-link="contest">
              <a href="/#/contest/list">
                <i class="fa fa-trophy"></i><span class="cdoj-menu-item">Contests</span>
              </a>
            </li>
            <li active-link="status">
              <a href="/#/status/list">
                <i class="fa fa-refresh"></i><span class="cdoj-menu-item">Status</span>
              </a>
            </li>
            <li active-link="user">
              <a href="/#/user/list">
                <i class="fa fa-user"></i><span class="cdoj-menu-item">Users</span>
              </a>
            </li>
            <li active-link="training">
              <a href="/#/training/list">
                <i class="fa fa-paper-plane-o"></i><span class="cdoj-menu-item">Training</span>
              </a>
            </li>
            <li>
              <a href="http://acm.uestc.edu.cn/bbs/">
                <i class="fa fa-comments"></i><span class="cdoj-menu-item">BBS</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="cdoj-container">
    <div ng-view style="min-height: 600px;"></div>
    <div class="row" style="margin-top: 15px;">
      <div class="col-md-12" style="font-size: 10px;">
        <hr style="margin: 0;" class="colorful"/>
        <p class="muted">
          UESTC Online Judge
        </p>
        <p class="muted">
          Copyright (C) 2012 - 2018
          Ruins He(<a href="https://github.com/ruinshe">@ruinshe</a>),
          Jianjin Fan(<a href="https://github.com/pfctgeorge">@pfctgeorge</a>) and
          Yun Li(<a href="https://github.com/mzry1992">@mzry1992</a>).
          <a href="http://uestc-acm.github.io/CDOJ/">Project home</a>
        </p>
        <p class="muted">
          Any Problem, Please Report On <a href="https://github.com/UESTC-ACM/CDOJ/issues">Issues Page</a>.
        </p>
      </div>
    </div>
  </div>
</div>
<ui-loading-notification></ui-loading-notification>

<script src="/bower_components/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="/dist/js/cdoj.min.js"></script>
</body>
</html>
