<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="CDOJ test suite">
  <!-- Unit tests -->
  <test name="UserServiceTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.service.UserServiceTest"/>
    </classes>
  </test>
  <test name="ProblemServiceTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.service.ProblemServiceTest"/>
    </classes>
  </test>
  <test name="ConditionTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.db.condition.base.ConditionTest"/>
    </classes>
  </test>
  <test name="ArrayUtilTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.util.ArrayUtilTest"/>
    </classes>
  </test>
  <test name="CompareSkipSpacesTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.util.CompareSkipSpacesTest"/>
    </classes>
  </test>
  <test name="ZipDataCheckerTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.util.checker.ZipDataCheckerTest"/>
    </classes>
  </test>
  <test name="ContestZipCheckerTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.util.checker.ContestZipCheckerTest"/>
    </classes>
  </test>
  <test name="IndexControllerTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.web.oj.controller.IndexControllerTest"/>
    </classes>
  </test>
  <test name="UserControllerTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.web.oj.controller.UserControllerTest"/>
    </classes>
  </test>
  <test name="ProblemControllerTest" time-out="60000">
    <classes>
      <class name="cn.edu.uestc.acmicpc.web.oj.controller.ProblemControllerTest"/>
    </classes>
  </test>

  <!-- Integration tests -->
  <test name="Database integration tests" parallel="classes"
        thread-count="2" time-out="60000">
    <packages>
      <package name="cn.edu.uestc.acmicpc.db"/>
    </packages>
  </test>
  <test name="Service integration tests" parallel="classes"
        thread-count="2" time-out="60000">
    <packages>
      <package name="cn.edu.uestc.acmicpc.service"/>
    </packages>
  </test>
  <test name="Utility integration tests" parallel="classes"
        thread-count="2" time-out="60000">
    <packages>
      <package name="cn.edu.uestc.acmicpc.util"/>
    </packages>
  </test>

  <listeners>
    <listener class-name="cn.edu.uestc.acmicpc.config.TestListener"/>
  </listeners>
</suite>
