<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ /*
  ~  * cdoj, UESTC ACMICPC Online Judge
  ~  * Copyright (c) 2013 fish <@link lyhypacm@gmail.com>,
  ~  * 	mzry1992 <@link muziriyun@gmail.com>
  ~  *
  ~  * This program is free software; you can redistribute it and/or
  ~  * modify it under the terms of the GNU General Public License
  ~  * as published by the Free Software Foundation; either version 2
  ~  * of the License, or (at your option) any later version.
  ~  *
  ~  * This program is distributed in the hope that it will be useful,
  ~  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  * GNU General Public License for more details.
  ~  *
  ~  * You should have received a copy of the GNU General Public License
  ~  * along with this program; if not, write to the Free Software
  ~  * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  ~  */
  -->
<beans default-lazy-init="true"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">
    <bean id="articleDAO" class="cn.edu.uestc.acmicpc.db.dao.ArticleDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="codeDAO" class="cn.edu.uestc.acmicpc.db.dao.CodeDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="compileinfoDAO" class="cn.edu.uestc.acmicpc.db.dao.CompileinfoDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="contestDAO" class="cn.edu.uestc.acmicpc.db.dao.ContestDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="contestproblemDAO" class="cn.edu.uestc.acmicpc.db.dao.ContestproblemDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="contestTeamInfoDAO" class="cn.edu.uestc.acmicpc.db.dao.ContestTeamInfoDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="contestuserDAO" class="cn.edu.uestc.acmicpc.db.dao.ContestuserDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="departmentDAO" class="cn.edu.uestc.acmicpc.db.dao.DepartmentDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="discussDAO" class="cn.edu.uestc.acmicpc.db.dao.DiscussDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="languageDAO" class="cn.edu.uestc.acmicpc.db.dao.LanguageDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="messageDAO" class="cn.edu.uestc.acmicpc.db.dao.MessageDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="problemDAO" class="cn.edu.uestc.acmicpc.db.dao.ProblemDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="problemtagDAO" class="cn.edu.uestc.acmicpc.db.dao.ProblemtagDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="statusDAO" class="cn.edu.uestc.acmicpc.db.dao.StatusDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="tagDAO" class="cn.edu.uestc.acmicpc.db.dao.TagDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
    <bean id="userDAO" class="cn.edu.uestc.acmicpc.db.dao.UserDAO">
        <property name="sessionFactory" ref="uestcojSessionFactory"/>
    </bean>
</beans>
