<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * cdoj, UESTC ACMICPC Online Judge
  ~  * Copyright (c) 2013 fish <@link lyhypacm@gmail.com>,
  ~  * 	mzry1992 <@link muziriyun@gmail.com>
  ~  *
  ~  * This program is free software; you can redistribute it and/or
  ~  * modify it under the terms of the GNU General Public License
  ~  * as published by the Free Software Foundation; either version 2
  ~  * of the License, or (at your option) any later version.
  ~  *
  ~  * This program is distributed in the hope that it will be useful,
  ~  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  * GNU General Public License for more details.
  ~  *
  ~  * You should have received a copy of the GNU General Public License
  ~  * along with this program; if not, write to the Free Software
  ~  * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  ~  */
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- for test -->
    <bean id="testUser"
          class="cn.edu.uestc.acmicpc.entity.test.User"
          scope="prototype">
        <property name="userName" value="mzry1992"/>
    </bean>
    <bean id="testSettings"
          class="cn.edu.uestc.acmicpc.action.test.TestSettingsAction"
          scope="prototype"/>

    <!-- Action -->
    <bean id="indexPageAction"
          class="cn.edu.uestc.acmicpc.action.index.IndexPageAction"
          scope="prototype">
        <property name="user" ref="testUser"/>
    </bean>

    <bean id="problemListAction"
          class="cn.edu.uestc.acmicpc.action.problem.ProblemListAction"
          scope="prototype"/>

    <bean id="problemShowAction"
          class="cn.edu.uestc.acmicpc.action.problem.ProblemShowAction"
          scope="prototype"/>

</beans>