<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ /*
  ~  * cdoj, UESTC ACMICPC Online Judge
  ~  * Copyright (c) 2013 fish <@link lyhypacm@gmail.com>,
  ~  * 	mzry1992 <@link muziriyun@gmail.com>
  ~  *
  ~  * This program is free software; you can redistribute it and/or
  ~  * modify it under the terms of the GNU General Public License
  ~  * as published by the Free Software Foundation; either version 2
  ~  * of the License, or (at your option) any later version.
  ~  *
  ~  * This program is distributed in the hope that it will be useful,
  ~  * but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~  * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~  * GNU General Public License for more details.
  ~  *
  ~  * You should have received a copy of the GNU General Public License
  ~  * along with this program; if not, write to the Free Software
  ~  * Foundation, Inc., 51 Franklin Street, Fifth Floor, Boston, MA  02110-1301, USA.
  ~  */
  -->
<!DOCTYPE cdoj-settings SYSTEM "cdoj-settings.dtd">
<cdoj-settings>
    <setting name="setting">
        <item name="encoding" description="default encoding">UTF-8</item>
        <item name="uploadSize" description="upload file size(in MB)">100</item>
        <item name="uploadTypes" description="upload file's types">
            in;out;jpg;jpeg;png;gif;doc;docx;xls;xlsx;ppt;pptx;pdf;rar;zip;
        </item>
        <item name="uploadFolder" description="upload files store folder">/Uploads/</item>
    </setting>
    <setting name="judge">
        <item name="judgeCore" description="judge core name">pyloncore</item>
        <item name="dataPath" description="data path name">/WEB-INF/data/</item>
        <item name="tempPath" description="work path name">/WEB-INF/work/</item>
        <list name="judges" description="judge list">
            <item name="judge" description="judge item">
                <prop name="name" value="fish"/>
            </item>
            <item name="judge" description="judge item">
                <prop name="name" value="mzry1992"/>
            </item>
        </list>
    </setting>
</cdoj-settings>