<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE cdoj-settings SYSTEM "cdoj-settings.dtd">
<cdoj-settings>
  <setting name="setting">
    <item name="host" description="OJ host">http://acm.uestc.edu.cn</item>
    <item name="encoding" description="default encoding">UTF-8</item>
    <item name="uploadSize" description="upload file size(in MB)">100</item>
    <item name="uploadTypes" description="upload file's types">
      in;out;jpg;jpeg;png;gif;doc;docx;xls;xlsx;ppt;pptx;pdf;rar;zip;
    </item>
    <item name="uploadFolder" description="upload files store folder">/uploads/</item>
    <item name="pictureFolder" description="Pictures folder">/images/</item>
    <item name="userPictureFolder" description="user' pictures store folder">/images/user/</item>
  </setting>
  <setting name="judge">
    <item name="judgeCore" description="judge core name">pyloncore</item>
    <item name="dataPath" description="data path name">/WEB-INF/data/</item>
    <item name="tempPath" description="work path name">/WEB-INF/work/</item>
    <list name="judges" description="judge list">
      <item name="judge" description="judge item">
        <prop name="name" value="fish"/>
      </item>
      <item name="judge" description="judge item">
        <prop name="name" value="mzry1992"/>
      </item>
      <item name="judge" description="judge item">
        <prop name="name" value="gongbaoa"/>
      </item>
      <item name="judge" description="judge item">
        <prop name="name" value="kennethsnow"/>
      </item>
    </list>
  </setting>
  <setting name="email">
    <item name="address" description="sender address">cdoj_test@163.com</item>
    <item name="username" description="sender email user name">cdoj_test@163.com</item>
    <item name="password" description="sender email password">135678942570</item>
    <item name="smtpServer" description="smtp server address">smtp.163.com</item>
  </setting>
</cdoj-settings>

