<div class="panel panel-default">
  <style>.toggle-switch span{line-height:12px;}</style>
  <div class="panel-heading">
    <b ng-bind="team.teamName"></b>
    <span class="pull-right"
          ng-show="editPermission && team.leaderId == user.userId">
      <button class="btn btn-primary btn-xs" ng-click="showTeamEditor(team)">Edit</button>
    </span>
    <span class="pull-right"
          ng-show="editPermission && team.leaderId != user.userId">
        <toggle-switch
            ng-model="allow"
            on-label="In"
            off-label="Not in"></toggle-switch>
    </span>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4" ng-repeat="member in team.teamUsers">
        <h5 style="margin-top: 0;">
          <span ng-show="$index == 0" class="font-primary">Leader</span>
          <span ng-show="$index != 0" class="font-success">Member</span>
        </h5>

        <div class="media">
          <a class="pull-left" href="/#/user/center/{{member.userName}}">
            <img ui-avatar
                 email="member.email"
                 width="44"
                 height="44"
                 class="media-object"
                 style="width: 44px; height: 44px;"/>
          </a>

          <div class="media-body">
            <h4 class="media-heading">
              <a ng-bind="member.userName" href="/#/user/center/{{member.userName}}"></a>
            </h4>
            <span ng-bind="member.nickName"></span>
          </div>
        </div>
      </div>
      <div ng-show="team.invitedUsers.length > 0 && editPermission">
        <div class="col-md-4" ng-repeat="member in team.invitedUsers">
          <h5 style="margin-top: 0;">
            <span class="font-danger">Inactive</span>
          </h5>

          <div class="media">
            <a class="pull-left" href="/#/user/center/{{member.userName}}">
              <img ui-avatar
                   email="member.email"
                   width="44"
                   height="44"
                   class="media-object"
                   style="width: 44px; height: 44px;"/>
            </a>

            <div class="media-body">
              <h4 class="media-heading">
                <a ng-bind="member.userName" href="/#/user/center/{{member.userName}}"></a>
              </h4>
              <span ng-bind="member.nickName"></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
