#cdoj-user {
  .row {
    margin: 0;
    .col-md-6 {
      padding: 0;
    }
  }
}
.image-size(@size) {
  width: @size;
  height: @size;
  min-height: @size;
  min-width: @size;
}
#cdoj-user-avatar {
  .image-size(111px)
}
#cdoj-users-avatar {
  .image-size(64px)
}
#currentUser {
  font-size: 14px;
}

@media (max-width: @screen-xs-max) {
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #cdoj-user {
    margin: 12px;
  }
}

@media (min-width: @screen-md-min) {
  #cdoj-user {
    margin: 24px 24px 12px 24px;
  }
}