<div class="row">
  <div class="col-md-12"
       style="margin-top: 15px; margin-bottom: 15px; text-align: right;">
    <form class="form-inline" role="form">
      <div class="form-group">
        <label>Team name:</label>
        <input type="text"
               class="form-control input-sm"
               ng-model="teamDTO.teamName"
               maxlength="50"
               ng-required="true"
               id="teamName">
      </div>
      <button class="btn btn-success btn-sm"
              ng-click="toggleMemberPanel()">
        Create new team!
      </button>
    </form>
  </div>
  <div class="col-md-12"
       style="text-align: right;"
       collapse="hideMemberPanel">
    Fuck
  </div>
</div>