<div class="row">
  <list condition="$root.contestCondition"
        request-url="/contest/search">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th style="width: 4em; text-align: right;">#</th>
        <th><a href="#/contest/editor/new" ng-show="$root.isAdmin">Add new contest</a></th>
        <th style="width: 12em; text-align: right;">Start time</th>
        <th style="width: 9em; text-align: right;">Length</th>
        <th style="width: 55px;" ng-show="$root.isAdmin"></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="contest in list">
        <td style="text-align: right;" ng-bind="contest.contestId"></td>
        <td>
          <a href="#/contest/show/{{contest.contestId}}"
             ng-bind="contest.title"></a>
        </td>
        <td style="text-align: right;"
            ui-time
            time="contest.time">
        </td>
        <td style="text-align: right;"
            ui-time-length
            length="contest.length">
        </td>
        <td ui-contest-admin-span
            contest-id="contest.contestId"
            is-visible="contest.isVisible"
            style="padding: 4px;"
            ng-show="$root.isAdmin">
        </td>
      </tr>
      </tbody>
    </table>
  </list>
</div>