<div class="modal-header">
  <h3>Create new contest</h3>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-xs-6 text-center">
      <a ng-click="createManually()"
         href="javascript:void(0);"
         class="btn btn-danger">Create manually</a>
    </div>
    <div class="col-xs-6 text-center">
      <a ng-click="uploadZip()"
         href="javascript:void(0);"
         class="btn btn-danger">Upload zip file</a>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" ng-click="dismiss()">Cancel</button>
</div>