<div class="modal-header">
  <h4>Register <span ng-bind="contest.title"></span></h4>
</div>
<div class="modal-body">
  <p>
    如果你还没有建立队伍，请到<a href="/#/user/center/{{$root.currentUser.userName}}?tab=teams">这里</a>新建一个队伍。
  </p>
  <p>
    每个用户只能在一个队伍中参赛！如果队伍中有任何一个队员不符合要求都无法注册。
  </p>
  <p>
    每个队伍只需要队长来进行注册操作。
  </p>
  <div class="input-group">
    <input type="text"
           class="form-control input-sm"
           ng-model="teamName"
           typeahead="team.teamName for team in searchTeam($viewValue) | filter:$viewValue"
           typeahead-template-url="template/team/typeAhead.html">
                <span class="input-group-btn">
                  <button class="btn btn-default btn-sm" type="button"
                          ng-click="addMemberClick()">Add member
                  </button>
                </span>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-default" ng-click="register()">Register</button>
</div>