<div class="modal-header">
  <button type="button" class="close" ng-click="dismiss()">&times;</button>
  <h4 class="modal-title">Forget password</h4>
</div>
<div class="modal-body">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="control-label col-sm-4 "
             for="userName">User Name</label>
      <div class="col-sm-8">
        <input type="text"
               ng-model="DTO.userName"
               maxlength="24"
               id="userName"
               ng-required="true"
               ng-pattern="/^[a-zA-Z0-9_]{4,24}$/"
               class="form-control input-sm"/>
      </div>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default"
          ng-click="dismiss()">Close
  </button>
  <button type="button" class="btn btn-primary"
          ng-click="sendSerialKey()"
          ng-bind="buttonText"
          ng-class="{disabled: onSend}">
  </button>
</div>