<div class="row">
  <div class="col-md-12" style="margin-top: 15px;">
    <tabset>
      <tab heading="Summary">
        <div style="margin: 0 -15px;">
          <div class="col-md-12">
            <div class="hero">
              <div class="hero-titles">
                <h1 class="cdoj-codefont">CDOJ</h1>

                <div class="alert alert-danger">
                  CDOJ is running!
                </div>
              </div>
            </div>
          </div>
        </div>
      </tab>
      <tab heading="Notice">
        <div style="margin: 15px -15px 0 -15px;">
          <div class="col-md-12">
            <list condition="articleCondition"
                  request-url="/article/search">
              <ul class="list-group">
                <li class="list-group-item" ng-repeat="article in list">
                  <span ng-bind="article.title"></span>
                </li>
              </ul>
            </list>
          </div>
        </div>
      </tab>
    </tabset>
  </div>
</div>