<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Integration test suite">
  <test name="Database integration tests" parallel="classes"
    thread-count="2" time-out="60000">
    <packages>
      <package name="cn.edu.uestc.acmicpc.db" />
    </packages>
  </test>
  <test name="Service integration tests" parallel="classes"
    thread-count="2" time-out="60000">
    <packages>
      <package name="cn.edu.uestc.acmicpc.service" />
    </packages>
  </test>
  <test name="Utility integration tests" parallel="classes"
    thread-count="2" time-out="60000">
    <packages>
      <package name="cn.edu.uestc.acmicpc.util" />
    </packages>
  </test>

  <listeners>
    <listener class-name="cn.edu.uestc.acmicpc.config.TestListener" />
  </listeners>
</suite>
