/* 限制最小宽度 */
body {
	min-width: 940px;
}

/* 内容部分用wrap整个包围起来，与上下文有60px的margin */
#wrap {
	margin: 80px 0 60px 0;
	min-height: 800px;
}

/* footer与底部留一些空隙吧，加点花纹看起来稍微好一点了 */
#footer {
	padding: 60px 0 60px 0;
	background-color: #222;
	background: #222 url(../img/footer-top.png) top center repeat-x;
}
/* 版权信息 */
.credit {
	text-align: center;
}

/* 调整表格样式以保证不出现表格换行的情况！ */
table {
	table-layout: fixed;
}
td {
	word-break: keep-all;
	white-space: nowrap;
	overflow: hidden;
	text-overflow:ellipsis;
}
td.info-center {
	text-align: center;
}
td.info-right {
	text-align: right;
}
.table-problemlist th{
	text-align: center;
}

/* 自定义的几个比较常用的信息的格式设置 */
.info-time {
	width: 160px;
	text-align: center;
}
.info-contest-state {
	width: 60px;
	text-align: center;
}
.info-solved {
	width: 14px;
}
.info-problem-id {
	width: 32px;
}
.info-problem-source {
	display: block;
}
.info-problem-difficulty {
	width: 70px;
}
.info-problem-ac {
	width: 60px;
}
.info-problem-ratio {
	width: 60px;
}

/* 标签 */
.tags {
	margin: 0 4px 0 4px;
}

/* logo相关 */
#logo-banner {
	margin: 0 16px 0 16px;
	width: 234px;
	height: 60px;
	display: block;
	background: url(../img/logo/banner.png) no-repeat;
}
#logo {
	width: 88px;
	height: 31px;
	display: block;
	background: url(../img/logo/logo.png) no-repeat;
}
