<div class="row">
  <list condition="$root.trainingCriteria"
        request-url="/training/search">
    <div class="col-md-12">
      <table class="table table-condensed">
        <thead>
        <tr>
          <th style="width: 4em; text-align: right;">#</th>
          <th><a href="/#/training/editor/new" ng-show="$root.isAdmin">Add new
            training schedule</a></th>
          <th style="width: 55px;" ng-show="$root.isAdmin"></th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>
            <input type="number"
                   min="1"
                   style="width: 100%;"
                   ng-model="$root.trainingCriteria.startId"/>
          </td>
          <td>
            <input type="text"
                   style=""
                   ng-model="$root.trainingCriteria.keyword"/>
          </td>
        </tr>
        <tr ng-repeat="training in list">
          <td>{{training.trainingId}}</td>
          <td><a href="/#/training/show/{{training.trainingId}}">{{training.title}}</a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </list>
</div>