<div id="training-contest-editor">
  <div class="row">
    <div class="col-md-12">
      <h1>{{title}}</h1>
    </div>

    <div class="col-md-12">
      <form class="form-horizontal">
        <fieldset>
          <div class="form-group">
            <label class="control-label col-sm-2"
                   for="title">Title</label>

            <div class="col-sm-10">
              <input type="text"
                     id="title"
                     class="form-control input-sm"
                     placeholder="Contest title"
                     ng-model="trainingContestDto.title"/>
              <ui-validate-info value="fieldInfo"
                                for="title"></ui-validate-info>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2"
                   for="link">Link</label>

            <div class="col-sm-10">
              <input type="text"
                     id="link"
                     class="form-control input-sm"
                     placeholder="Contest link"
                     ng-model="trainingContestDto.link"/>
              <ui-validate-info value="fieldInfo" for="link"></ui-validate-info>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2 "
                   for="type">Type</label>

            <div class="col-sm-4">
              <select ng-model="trainingContestDto.type"
                      ng-options="type.trainingContestTypeId as type.description for type in $root.trainingContestTypeList"
                      id="type"
                      ng-required="true"
                      class="form-control input-sm">
              </select>
              <ui-validate-info value="fieldInfo" for="type"></ui-validate-info>
            </div>

            <label class="control-label col-sm-2"
                   ng-if="trainingContestDto.type == 0"
                   for="platformType">Platform</label>

            <div class="col-sm-4"
                 ng-if="trainingContestDto.type == 0">
              <select ng-model="trainingContestDto.platformType"
                      ng-options="type.trainingPlatformTypeId as type.description for type in $root.trainingPlatformTypeList"
                      id="platformType"
                      ng-required="true"
                      class="form-control input-sm">
              </select>
              <ui-validate-info value="fieldInfo"
                                for="platformType"></ui-validate-info>
            </div>
          </div>
        </fieldset>
        <fieldset>
          <legend>Result</legend>

          <div class="col-md-12">
            <div class="alert alert-danger" role="alert">
              <strong>Attention!</strong>
              <ul>
                <li>Please remove redundant white space, <strong>especially</strong> chinese white space character.</li>
                <li>It needs one column to represent user name, one column to represent solved problems and one column to represent penalty time.</li>
                <li>User name should be the same as the user name field in user's platform settings.</li>
              </ul>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-sm-2">Upload</label>

            <div class="col-sm-10">
              <ui-training-contest-result-uploader
                  result="rankList"
                  training-id="trainingContestDto.trainingId"
                  type="trainingContestDto.type"
                  file-name="fileName"
                  platform-type="trainingContestDto.platformType"></ui-training-contest-result-uploader>
              <ui-validate-info value="fieldInfo"
                                for="rankList"></ui-validate-info>
            </div>
          </div>

          <div class="col-md-12" style="padding-left: 0; padding-right: 0;">
            <tabset>
              <tab heading="Parsed rank list">
                <table id="rank-list" class="table" style="width: auto;">
                  <thead>
                  <tr>
                    <th class="text-center"
                        style="width: 55px; min-width: 55px; max-width: 55px;">
                      Rank
                    </th>
                    <th class="text-center"
                        style="width: 220px; min-width: 220px; max-width: 220px;">
                      ID
                    </th>
                    <th class="text-center"
                        style="width: 65px; min-width: 65px; max-width: 65px;">
                      Solved
                    </th>
                    <th class="text-center"
                        style="width: 75px; min-width: 75px; max-width: 75px;">
                      Penalty
                    </th>
                    <th class="text-center"
                        bindonce ng-repeat="problem in rankList.problems"
                        style="width: 70px; min-width: 70px; max-width: 70px;">
                      <a href="javascript:void(0);">{{problem.title}}</a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr bindonce ng-repeat="user in rankList.users track by $index" class="text-center">
                    <td class="rank"
                        style="vertical-align:middle;">
                      {{user.rank}}
                    </td>
                    <td class="user-name" ng-if="user.users.length == 0">
                      {{user.userName}}
                    </td>
                    <td class="user-name" ng-if="user.users.length > 0">
                      <span bindonce ng-repeat="trainingUser in user.users track by $index">
                        <a href="">{{trainingUser.trainingUserName}}</a>
                      </span>
                    </td>
                    <td class="solved"
                        style="vertical-align:middle;">
                      {{user.solved}}
                    </td>
                    <td class="penalty" penalty="user.penalty" ui-penalty
                        style="vertical-align:middle;"
                        ng-class="{my: user.name == $root.currentUser.userName}"></td>
                    <td class="item"
                        bindonce ng-repeat="item in user.itemList"
                        ng-class="{
                                    'rank-list-first-blood': item.status == 'FB',
                                    'rank-list-solved': item.status == 'PASS',
                                    'rank-list-tried': item.status == 'FAIL'
                                  }">
                      <span ng-if="item.status == 'FB' || item.status == 'PASS'" penalty="item.solvedTime" ui-penalty></span>
                      <br/>
                      <span ng-if="item.tried > 1">(-{{item.tried - 1}})</span>
                      <span ng-if="item.tried == 0">&nbsp;</span>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </tab>
              <tab heading="Raw data">
                <table class="table table-striped table-bordered">
                  <thead>
                  <tr>
                    <th bindonce ng-repeat="column in rankList.fields track by $index"
                        class="text-center"
                        style="min-width: 75px;">
                      {{column}}
                    </th>
                  </tr>
                  <tr>
                    <th ng-repeat="type in rankList.fieldType track by $index">
                      <select ng-model="type"
                              ng-options="fieldType.trainingResultFieldTypeId as fieldType.description for fieldType in $root.trainingResultFieldTypeList"
                              ng-required="true"
                              style="width: 100%"></select>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr bindonce ng-repeat="user in rankList.users track by $index">
                    <td bindonce ng-repeat="column in user.rawData track by $index">
                      {{column}}
                    </td>
                  </tr>
                  </tbody>
                </table>
              </tab>
            </tabset>
          </div>
        </fieldset>
      </form>
    </div>
    <div class="col-md-12 text-center">
      <button type="button"
              class="btn btn-primary"
              ng-if="action != 'new'"
              ng-click="edit()">Edit
      </button>
      <button type="button"
              class="btn btn-primary"
              ng-if="action == 'new'"
              ng-click="edit()">Add
      </button>
    </div>
  </div>
</div>