<div id="problem-show">
  <div class="row">

    <div class="col-md-12 text-center">
      <h1 style="margin-top: 15px;">
        <span ng-bind="problem.title"></span>
      </h1>
      <a href="#/problem/editor/{{problem.problemId}}" ng-show="$root.isAdmin">
        <i class="fa fa-pencil no-margin-right"></i> Edit
      </a>
    </div>
    <problem problem="problem">
      <button class="btn btn-default" ng-click="openSubmitModal()">Submit</button>
      <button class="btn btn-default" ng-click="gotoStatusList()">Status</button>
    </problem>
  </div>
</div>