<div style="margin-top: 15px;">
  <div style="margin-bottom: 15px;"
       ng-hide="stashCommentList">
      <list condition="commentCondition"
            request-url="/article/commentSearch"
            name="comment">
        <div class="col-md-12">
          <div class="media" ng-repeat="article in list">
            <a class="pull-left" href="/#/user/center/{{article.ownerName}}">
              <img class="media-object"
                   ui-avatar
                   email="article.ownerEmail"
                   style="width: 80px; height: 80px;"
                   src="/images/avatar/default.jpg"/>
            </a>

            <div class="media-body">
              <h5 style="margin-top: 0;"><a ng-bind="article.ownerName" href="/#/user/center/{{article.ownerName}}"></a>
              &nbsp;•&nbsp;
          <span class="cdoj-article-post-time"
                ui-time
                time="article.time"
                inline="true"></span>
              </h5>
              <markdown content="article.content"></markdown>

              <a href="javascript:void(0);" ng-click="reply(article)" ng-show="$root.hasLogin" class="muted"><i class="fa fa-reply"></i> Reply</a>
              <span ng-show="$root.isAdmin" class="muted">&nbsp;•&nbsp;</span>
              <a href="javascript:void(0);" ng-click="delete(article)" ng-show="$root.isAdmin" class="muted"><i class="fa fa-trash-o"></i> Delete</a>
            </div>
          </div>
        </div>
      </list>
  </div>
  <div class="col-md-12" ng-show="$root.hasLogin" style="margin-top: 15px;">
    <div class="media">
      <span class="pull-left">
        <img class="media-object"
             ui-avatar
             style="width: 80px; height: 80px;"
             email="$root.currentUser.email"
             src="/images/avatar/default.jpg"/>
      </span>

      <div class="media-body">
        <div ng-model="newComment"
             ui-flandre
             upload-url="/picture/uploadArticlePicture/{{$root.currentUser.userName}}/newComment">
        </div>
        <button class="btn btn-success btn-sm" ng-click="comment()">Comment</button>
        <button class="btn btn-danger btn-sm" ng-click="cancel()">Cancel</button>
      </div>
    </div>
  </div>
  <div class="col-md-12" ng-hide="$root.hasLogin" style="margin-top: 15px;">
    Please login first!
  </div>
  <div class="col-md-12" style="margin-bottom: 15px;">
  </div>
</div>