#cdoj-navbar {
  margin-left: -@navbar-width;
  width: @navbar-width;
  position: fixed;
  top: 0;
  left: @navbar-width;
  bottom: 0;
  z-index: 1000;
  background: #191818;
  overflow-y: auto;
  -webkit-overflow-scroll: touch;
}
#cdoj-navbar a {
  color: #999;
  border: none;
  white-space: normal;
  padding: 0.6em 0 0.6em 0.6em;
}
#cdoj-navbar .pure-menu-open {
  background: transparent;
  border: 0;
}
#cdoj-navbar .pure-menu ul {
  border: none;
  background: transparent;
}
#cdoj-navbar .pure-menu ul,
#cdoj-navbar .pure-menu .menu-item-divided {
  border-top: 1px solid #333;
}
#cdoj-navbar .pure-menu li a:hover,
#cdoj-navbar .pure-menu li a:focus {
  background: #333;
}
#cdoj-navbar .pure-menu-heading {
  font-size: 110%;
  color: #fff;
}
#cdoj-navbar .pure-menu-heading:hover,
#cdoj-navbar .pure-menu-heading:focus {
  color: #999;
}
#cdoj-navbar .pure-menu-selected {
  background: #1f8dd6;
}
#cdoj-navbar .pure-menu-selected a {
  color: #fff;
}
#cdoj-navbar li.pure-menu-selected a:hover,
#cdoj-navbar li.pure-menu-selected a:focus {
  background: none;
}
