#cdoj-user {
  width: @cdoj-user-width;
  margin: 24px auto;
}
#cdoj-user-menu {
  width: @cdoj-user-width * 0.5;
}
#userAvatar {
  width: @current-user-avatar-size;
  height: @current-user-avatar-size;
}