html {
  font-size: 14px;
}
.muted {
  color:
    #999;
}
.credit {
  text-align: center;
}
a {
  color: #08c;
  text-decoration: none;
}
code {
  padding: 2px 4px;
  font-size: 90%;
  color:
    #c7254e;
  white-space: nowrap;
  background-color:
    #f9f2f4;
  border-radius: 4px;
}
pre code {
  background: transparent;
}
code, pre {
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
}
.status-querying {
  color: #3a87ad;
}

.status-accept {
  color: #468847;
}

.status-error {
  color: #b94a48;
}

.problem-state-accept {
  background-color: #ccffcc;
}

.problem-state-error {
  background-color: #ffcccc;
}
.problem-source {
  font-size: 12px;
  margin-left: 8px;
}

