#cdoj-user {
  .row {
    margin: 0;
    .col-md-6 {
      padding: 0;
    }
  }
}
#cdoj-user-avatar {
  width: 200px;
}
#currentUser {
  font-size: 14px;
}

@media (max-width: @screen-xs-max) {
}

@media (min-width: @screen-sm-min) and (max-width: @screen-sm-max) {
  #cdoj-user {
    margin: 12px;
  }
}

@media (min-width: @screen-md-min) {
  #cdoj-user {
    margin: 24px 24px 12px 24px;
  }
}