<div layout="column" tabindex="-1" role="main" layout-fill>
  <md-sidenav id="cdoj-sidenav" class="md-sidenav-left md-whiteframe-z2 md-closed md-locked-open"
              md-component-id="left-sidenav" tabindex="-1" layout="column" flex ng-click="hideSidenav()">
    <md-toolbar>
      <h1 class="md-toolbar-tools">CDOJ</h1>
    </md-toolbar>
    <md-content class="md-default-theme">
      <cdoj-sidenav-menu></cdoj-sidenav-menu>
    </md-content>
    <span flex></span>
    <!-- TODO(Yun Li): Add settings and about link here-->
  </md-sidenav>
  <md-toolbar>
    <h1 class="md-toolbar-tools" layout="row" style="padding: 0 24px;">
      <md-button class="md-toolbar-item" hide-gt-sm aria-label="Show menu button" ng-click="openMenu()"
                 style="margin-right:16px;">
        <i class="mdi mdi-menu" style="font-size: 26px;"></i>
      </md-button>
      <div>CDOJ</div>
      <span flex></span>
      <md-button class="md-toolbar-item" aria-label="Open settings dialog" ng-click="openSettingsDialog($event)">
        <i class="mdi mdi-settings" style="font-size: 26px;"></i>
      </md-button>
      <cdoj-user style="margin-left: 16px;"/>
    </h1>
    <cdoj-header-menu hide-sm class="cdoj-header-menu"></cdoj-header-menu>
  </md-toolbar>
  <md-content md-scroll-y flex id="cdoj-content" class="md-padding" layout-fill>
    <ng-view></ng-view>
  </md-content>
</div>