<div id="problem-editor">
<div class="row">
<div class="col-md-12">
  <h1>{{title}}</h1>
</div>

<div class="col-sm-12">
  <div class="form-group">
    <input type="text"
           ng-model="problem.title"
           ng-require="true"
           ng-maxlength="50"
           class="form-control" placeholder="Enter title here"/>
    <ui-validate-info value="fieldInfo" for="title"></ui-validate-info>
  </div>
</div>

<div class="col-md-12">
  <form class="form-horizontal" role="form" id="problem-data-form">
    <fieldset>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="timeLimit"
                 class="col-sm-4 col-lg-6 control-label">Time
            Limit</label>

          <div class="col-sm-6">
            <div class="input-group input-group-sm">
              <input type="number"
                     ng-model="problem.timeLimit"
                     ng-min="0"
                     ng-max="60000"
                     ng-require
                     id="timeLimit"
                     class="form-control"/><span
                class="input-group-addon">MS</span>
            </div>
            <ui-validate-info value="fieldInfo" for="timeLimit"></ui-validate-info>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="memoryLimit"
                 class="col-sm-4 col-lg-6 control-label">Memory Limit</label>

          <div class="col-sm-6">
            <div class="input-group input-group-sm">
              <input type="number"
                     ng-model="problem.memoryLimit"
                     ng-min="0"
                     ng-max="512"
                     ng-require
                     id="memoryLimit" class="form-control"/><span
                class="input-group-addon">MB</span>
            </div>
            <ui-validate-info value="fieldInfo" for="memoryLimit"></ui-validate-info>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label for="outputLimit"
                 class="col-sm-4 col-lg-6 control-label">Output Limit</label>

          <div class="col-sm-6">
            <div class="input-group input-group-sm">
              <input type="number"
                     ng-model="problem.outputLimit"
                     ng-min="0"
                     ng-max="512"
                     ng-require
                     id="outputLimit" class="form-control"/><span
                class="input-group-addon">MB</span>
            </div>
            <ui-validate-info value="fieldInfo" for="outputLimit"></ui-validate-info>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="form-group">
          <label class="col-sm-4 col-lg-6 control-label">Is SPJ</label>

          <div class="col-sm-6">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm" ng-model="problem.isSpj"
                      btn-radio="true">Yes
              </button>
              <button type="button" class="btn btn-default btn-sm" ng-model="problem.isSpj"
                      btn-radio="false">No
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label for="dataCount"
                 class="col-sm-4 col-lg-6 control-label">Total Data</label>

          <div class="col-sm-6">
            <div class="input-group input-group-sm">
              <input type="number"
                     ng-model="problem.dataCount"
                     id="dataCount"
                     class="form-control"
                     readonly="true"/>
              <span class="input-group-btn">
                <ui-problem-data-uploader
                    upload-url="/problem/uploadProblemDataFile/{{action}}"></ui-problem-data-uploader>
              </span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-6">
        <div class="form-group">
          <label class="col-sm-4 col-lg-6 control-label">Is visible</label>

          <div class="col-sm-6">
            <div class="btn-group">
              <button type="button" class="btn btn-default btn-sm" ng-model="problem.isVisible"
                      btn-radio="true">Yes
              </button>
              <button type="button" class="btn btn-default btn-sm" ng-model="problem.isVisible"
                      btn-radio="false">No
              </button>
            </div>
          </div>
        </div>
      </div>

    </fieldset>
  </form>
</div>
<div class="col-md-12">
  <div ng-model="problem.description"
       ui-flandre
       upload-url="/picture/uploadProblemPicture/{{action}}">
  </div>
</div>
<div class="col-md-12">
  <h2>Input</h2>

  <div ng-model="problem.input"
       ui-flandre
       upload-url="/picture/uploadProblemPicture/{{action}}">
  </div>
</div>
<div class="col-md-12">
  <h2>Output</h2>

  <div ng-model="problem.output"
       ui-flandre
       upload-url="/picture/uploadProblemPicture/{{action}}">
  </div>
</div>
<div class="col-md-12">
  <h2>Sample input and output</h2>
  <table class="table table-bordered">
    <thead>
    <tr>
      <th></th>
      <th style="width: 50%;">Sample Input</th>
      <th style="width: 50%;">Sample Output</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="sample in samples">
      <td><a href="javascript:void(0);" ng-click="removeSample($index)"><i class="fa fa-times"></i></a></td>
      <td>
        <div class="sample" type="no-prettify">
          <textarea ng-model="sample.input"
                    ng-trim="false"
                    class="form-control"
                    style="height: 100px"></textarea>
        </div>
      </td>
      <td>
        <div class="sample" type="no-prettify">
          <textarea ng-model="sample.output"
                    ng-trim="false"
                    class="form-control"
                    style="height: 100px"></textarea>
        </div>
      </td>
    </tr>
    <tr>
      <td colspan="3">
        <a href="javascript:void(0);" ng-click="addSample()"><i class="fa fa-plus"></i> Add sample</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="col-md-12">
  <h2>Hint</h2>

  <div ng-model="problem.hint"
       ui-flandre
       upload-url="/picture/uploadProblemPicture/{{action}}">
  </div>
</div>
<div class="col-md-12">
  <div class="form-group">
    <h2>Source</h2>
    <input type="text"
           ng-model="problem.source"
           ng-maxlength="100"
           class="form-control" placeholder="Enter source here"/>
  </div>
</div>
<div class="col-md-12 text-center">
  <button type="button" class="btn btn-primary"
          ng-click="submit()">Submit
  </button>
</div>
</div>
</div>